<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.spring.sec.role.usr.repository.mapper.UserAuthorMapper">

    <select id="getAuthorities" parameterType="string" resultType="string">
        SELECT author_code
          FROM tn_user_authority
         WHERE user_no = #{userNo}
    </select>
</mapper>